@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-size: 4em;
  background-color: green;
}

.card {
  width: 400px;
  height: 500px;
  background-color: white;
  margin-top: 20px;
}
/* que aplique los estilos generales a cada carta */

.card-body {
  font-size: 2em;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.symbol {
  /* font-size: 2em; */
  padding: 0;
  height: auto;
  width: auto;
  /* margin-left: 10px; */
  display: flex;
  position: left;
  color: black;
  /* position: relative;
  top: -20px;
  left: 7px; */
}

#girar {
  height: auto;
  width: auto;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  /* margin-right: 10px; */
  /* position: relative;
  top: 20px;
  left: -7px; */
}

.rojo {
  color: red;
}

input {
  font-size: 20px;
}

/* 
    Aplica la clase .card a toda la división,
    pero solo aplica una de las clases de la pinta/palo a la vez,
    dependiendo de la pinta/palo que desees aplicar.
    
    Por ejemplo, un 3 de corazones tendrá esta declaración HTML:
    <div class='card heart'></div>
*/
/* .spade {
}
.club {
}
.heart {
}
.diamond {
} */
